:root {
  --base-100: oklch(98% 0.02 240);
  --base-200: oklch(95% 0.03 240);
  --base-300: oklch(92% 0.04 240);
  --base-content: oklch(20% 0.05 240);
  --primary: oklch(55% 0.3 240);
  --primary-content: oklch(98% 0.01 240);
  --secondary: oklch(70% 0.25 200);
  --secondary-content: oklch(98% 0.01 200);
  --accent: oklch(65% 0.25 160);
  --accent-content: oklch(98% 0.01 160);
  --neutral: oklch(50% 0.05 240);
  --neutral-content: oklch(98% 0.01 240);
  --info: oklch(70% 0.2 220);
  --info-content: oklch(98% 0.01 220);
  --success: oklch(65% 0.25 140);
  --success-content: oklch(98% 0.01 140);
  --warning: oklch(80% 0.25 80);
  --warning-content: oklch(20% 0.05 80);
  --error: oklch(64.561% 0.26065 2.142);
  --error-content: oklch(98% 0.01 30);
  --main-bg: rgba(244, 244, 244, 1);
  --main: oklch(10.832% 0.00701 285.155);
  --na: rgba(64, 64, 64, 1);
  --pass: oklch(84.552% 0.20874 130.544);
  --fail: rgba(255, 0, 129, 0.8);
  --border: rgba(229, 230, 232, 1);
}

body {
  font-family: 'Intel One Mono', 'JetBrains Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--main-bg);
  color: var(--main);
  font-size: 0.9rem;
  margin: 0;
}

.line {
  border-bottom: 1px solid var(--border);
}

header {
  text-align: center;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  font-family: Archivo, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.8rem;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  column-gap: 5px;
  font-size: 1.2rem;
  color: var(--primary);
}

#title svg {
  width: 120px;
  max-height: 40px;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  column-gap: 5px;
  row-gap: 5px;
}

.legend>div {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.idl {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  display: masonry;
  grid-template-rows: masonry;
  color: white;
  gap: 10px;
  align-items: start;
}

.idl .title {
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 3px;
}

.idl>div {
  padding: 5px 10px;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #643dd0 0%, #321974 20%, rgba(46, 0, 184, 0.88) 70%, #18122e 99%);
  background-size: 400% 400%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px -1px, rgba(0, 0, 0, 0.06) 0px 1px 3px -1px;
  display: grid;
  grid-template-columns: 15fr 1fr;
  column-gap: 10px;
}

.idl>div span, .legend span, #op-support-limits .row span, #ops .result span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: var(--success);
  border: 2px solid var(--pass);
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.idl>div span.pass, .legend span.pass, #op-support-limits .row span.pass, #ops .result span.pass {
  background-color: var(--pass);
  border: 2px solid var(--success);
}

.idl>div span.fail, .legend span.fail, #op-support-limits .row span.fail, #ops .result span.fail {
  background-color: var(--fail);
  border: 2px solid var(--error);
}

#ops {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px -1px, rgba(0, 0, 0, 0.06) 0px 1px 3px -1px;
  margin-bottom: 10px;
}

#ops .title {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.ops-g3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
  align-items: start;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.ops-g3 .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ops-g3 .list>div {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ops-g3 .list .result {
  justify-self: center;
}

.ops-g3 .list .result svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.ops-g3 .list .result.gpu svg.pass g,
.ops-g3 .list .result.cpu svg.pass g,
.ops-g3 .list .result.npu svg.pass g {
  stroke: var(--success);
}

.ops-g3 .list .result.gpu svg.fail g,
.ops-g3 .list .result.cpu svg.fail g,
.ops-g3 .list .result.npu svg.fail g {
  stroke: var(--fail);
}

.g3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
  align-items: start;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.g3>div {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px -1px, rgba(0, 0, 0, 0.06) 0px 1px 3px -1px;
}

.g3>div .title, #ops .title {
  color: var(--primary);
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
}

.npufail {
  color: #fff;
  background-image: linear-gradient(135deg, #643dd0 0%, var(--fail) 10%, var(--error) 70%) !important;
  background-size: 400% 400%;
}

#next .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

#op-support-limits .card .row:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
}

#op-support-limits .card .row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 4fr 4fr 2fr;
  column-gap: 10px;
}

#op-support-limits .row div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#op-support-limits .device {
  color: var(--primary);
  font-weight: 500;
}

#op-support-limits .row>div:first-child {
  min-width: 50px;
}

#op-support-limits .row>div:first-child + div {
  min-width: 50px;
}

.visibility-hidden {
  visibility: hidden;
}

.float,
.rank-range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.float,
.int,
.uint,
.rank-range {
  border-left: 1px dotted var(--border);
}

.int,
.uint {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.float div,
.rank-range div,
.int div,
.uint div {
  justify-self: center;

}

.float div:last-child,
.rank-range div:last-child,
.int div:last-child,
.uint div:last-child {
  border-right: none;
}

footer {
  font-family: Archivo, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 0.8rem;
  color: var(--neutral);
  padding: 10px 10px 20px 10px;
}

#links {
  margin-bottom: 5px;
}

#links a {
  color: var(--primary);
  text-decoration: none;
  margin: 0 5px;
}

#links a:hover {
  color: var(--success);
  text-decoration: underline;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  gap: 10px;
}

.legend div div {
  background-color: #fff;
  border-radius: 15px;
  padding: 3px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px -1px, rgba(0, 0, 0, 0.06) 0px 1px 3px -1px;
}

@media (min-width: 360px) {
}

@media (min-width: 640px) {
  .g3 {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
}
@media (min-width: 860px) {
    header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  header #title {
    justify-content: flex-start;
  }
  header .legend{
    justify-self: end;
    flex-direction: row;
    column-gap: 20px;
  }
  .g3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {
  .g3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #content {
    grid-template-columns: 1fr 9fr;
  }
}